body {
  font-family: Arial, sans-serif;
  background-color: #302b2b;
  color: #5f748b;
}

.titleCard {
  max-width: fit-content;
  margin-inline: auto;
  text-align: center;
  padding: 10px;
}
.highScore {
  position: absolute;
  top: 0;
  margin-top: 20px;
}

.selection_Score {
  margin-left: 100px;
}
.line {
  display: flex;
  justify-content: space-between;
}
.APM {
  margin-right: 160px;
}
.arrows {
  margin-top: 50px;
  max-width: fit-content;
  margin-inline: auto;
}

.timer {
  margin-top: 15px;
  height: 8px;
  background-color: yellow;
  width: 32vw;
  margin-inline: auto;
}
#stratagem {
  color: rgba(255, 255, 0, 0.877);
}
